/* Background */

.bg-default-theme {
    background-color: #f33f3f;
}

.bg-blue-theme {
    background-color: #3022f8
}

.bg-green-theme {
    background-color: #0e8e39
}

.bg-black-theme {
    background-color: #000000
}

@font-face {
    font-family: 'argentum-bold';
    src: url('../fonts/ArgentumSans-Bold.ttf');
}

@font-face {
    font-family: 'argentum-regular';
    src: url('../fonts/ArgentumSans-Regular.ttf');
}


/*font  */

.font-ag-bold {
    font-family: 'argentum-bold';
}


/* 'colors */

.links-dark-red {
    color: #f33f3f!important;
    font-family: 'argentum-bold';
}

.links-dark-red:hover {
    color: #fff!important;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    font-family: 'argentum-regular';
}

a {
    text-decoration: none!important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 3px;
}

ul.social-icons li:last-child {
    margin-right: 0px;
}

ul.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
}

ul.social-icons li a:hover {
    background-color: #f33f3f;
    color: #fff;
}

a.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
}

a.filled-button:hover {
    background-color: #121212;
    color: #fff;
}

.section-heading {
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
    font-family: 'argentum-bold';
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
    font-family: 'argentum-bold';
}

.page-cricket-bg {
    background-image: url(../images/cricketbg.jpg);
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 210px 0px 130px 0px;
}

.page-football-bg {
    background-image: url(../images/football.jpg);
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 210px 0px 130px 0px;
}

.page-ufc-bg {
    background-image: url(../images/ufc.jpeg);
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 210px 0px 130px 0px;
}

.text-content {
    position: relative;
    top: 50%;
}

.text-content {
    position: relative;
    top: 50%;
}

.barnner .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'argentum-bold';
}

.barnner .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'argentum-bold';
}

.barnner .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'argentum-bold';
}

.page-title-bg {
    background-image: url(../images/slide_01.jpg);
}

.about-heading {
    background-image: url(../images/about-heading.jpg);
}

.contact-heading {
    background-image: url(../images/contact-heading.jpg);
}

.page-heading {
    padding: 210px 0px 130px 0px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Header Style */

header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 80px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    padding: 17px 0px;
}

.background-header .navbar {
    padding: 17px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
    color: #121212!important;
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #f33f3f!important;
}

.navbar .navbar-brand {
    float: left;
    margin-top: -12px;
    outline: none;
}

.navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
    font-style: normal;
    color: #f33f3f;
}

#navbarResponsive {
    z-index: 999;
}

.header-container {
    padding: 0 8%!important;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #000;
    padding-bottom: 25px;
    border-bottom: 3px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: #000;
    background-color: #000;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #f33f3f;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
    margin-top: 5%;
}

#footer .footer-top {
    background: #040919;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
}

#footer .footer-top .footer-info img {
    height: 40px;
    margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #f82249;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #f82249;
    font-size: 18px;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #f82249;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #f82249;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
}

.f-14 {
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}


/* Banner Style */

.banner {
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.banner-item-01 {
    padding: 300px 0px;
    background-image: url(../images/slide_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-02 {
    padding: 300px 0px;
    background-image: url(../images/slide_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-03 {
    padding: 300px 0px;
    background-image: url(../images/slide_03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .banner-item {
    max-height: 600px;
}

.banner .text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: Left;
    width: 100%;
    left: 5%;
}

.banner .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.banner .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
    border-radius: 3px;
}

.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}

.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}

.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}


/* Latest Produtcs */

.latest-events {
    margin-top: 100px;
}

.latest-events .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
}

.product-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.product-item .down-content {
    padding: 30px;
    position: relative;
}

.product-item img {
    width: 100%;
    overflow: hidden;
}

.product-item .down-content h4 {
    font-size: 17px;
    color: #f33f3f;
    margin-bottom: 20px;
    font-family: 'argentum-bold';
}

.product-item .down-content h6 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}

.product-item .down-content p {
    margin-bottom: 20px;
}

.latest-products .product-item a img {
    max-height: 300px!important;
    height: 242px;
    object-fit: cover;
}

.product-item .down-content ul li {
    display: inline-block;
}

.product-item .down-content ul li i {
    color: #f33f3f;
    font-size: 14px;
}

.product-item .down-content span {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    color: #f33f3f;
    font-weight: 500;
}


/*--------------------------------------------------------------
# Event Pages
--------------------------------------------------------------*/

#team-table .table .thead-light th {
    color: #fff;
    background-color: #e0072f;
    border-color: #e0072f;
    width: 292px;
}

#team-table.football .thead-light th {
    color: #fff;
    background-color: #3022f8;
    border-color: #3022f8;
    width: 292px;
}

#team-table.ufc .thead-light th {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    width: 292px;
}

.btn-green {
    color: #fff;
    background-color: #e0072f;
    border-color: #e0072f;
    font-weight: 700;
    padding: 2% 4%;
}

.btn-blue {
    color: #fff;
    background-color: #0400e2;
    border-color: #3022f8;
    font-weight: 700;
    padding: 2% 4%;
}

.btn-blue:hover {
    color: #fff;
    background-color: #0502b6;
    border-color: #0502b6;
}

.btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #f3eded;
    font-weight: 700;
    padding: 2% 4%;
}

.btn-black:hover {
    color: rgb(0, 0, 0);
    background-color: #fbfbff;
    border-color: #fdfdff;
}

btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #f3eded;
    font-weight: 700;
    padding: 2% 4%;
}

.btn-black:hover {
    color: rgb(0, 0, 0);
    background-color: #fbfbff;
    border-color: #fdfdff;
}

.btn-green:hover {
    color: #fff;
    background-color: #067029;
    border-color: #067029;
}

.btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #f3eded;
    font-weight: 700;
    padding: 2% 4%;
}

.btn-black:hover {
    color: rgb(0, 0, 0);
    background-color: #fbfbff;
    border-color: #fdfdff;
}

#action {
    background: linear-gradient( -45deg, #ff3137, #ff3c419c) fixed, url('../images/slide_01.jpg');
    padding: 5% 5%;
    margin-top: 100px;
}

#action.actionfootball {
    background: linear-gradient( -45deg, #3022f8, #ff3c419c) fixed, url('../images/slide_01.jpg')!important;
    padding: 5% 5%;
    margin-top: 100px;
}

#action.actionufc {
    background: linear-gradient( -45deg, #000000, #ff3c419c) fixed, url('../images/slide_01.jpg')!important;
    padding: 5% 5%;
    margin-top: 100px;
}

#action .btn-lg {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 58px;
}

a.filled-dark-button {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
}

a.filled-dark-button:hover {
    background-color: #fff;
    color: black;
}

#team-table .table td,
.table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #0e8e39;
    background: #fff;
}


/* Add indicator arrow for the active tab */

@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #0e8e39;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/

#schedule {
    padding: 60px 0 60px 0;
    background: #f33f3f;
    background: linear-gradient( -45deg, #ff3137, #ff3c419c) fixed, url('../images/slide_01.jpg');
    background-size: cover;
}

#schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
}

.schedulefootball {
    padding: 60px 0 60px 0;
    background: #061fff;
    background: linear-gradient( -45deg, #0026ff, #3021ff9c) fixed, url('../images/slide_01.jpg')!important;
    background-size: cover;
}

.scheduleufc {
    padding: 60px 0 60px 0;
    background: #000000;
    background: linear-gradient( -45deg, #000000, #0000009c) fixed, url('../images/slide_01.jpg')!important;
    background-size: cover;
}

#schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
}

#schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
}

#schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    padding: 10px 100px;
}

@media (max-width: 991px) {
    #schedule .nav-tabs a {
        padding: 8px 60px;
    }
}

@media (max-width: 767px) {
    #schedule .nav-tabs a {
        padding: 8px 50px;
    }
}

@media (max-width: 480px) {
    #schedule .nav-tabs a {
        padding: 8px 30px;
    }
}

#schedule .nav-tabs a.active {
    background-color: #fff;
    color: #000;
}

#schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
    #schedule .sub-heading {
        width: 75%;
    }
}

#schedule .tab-pane {
    transition: ease-in-out .2s;
}

#schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
    background-color: #ffffff40;
}

#schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
    font-family: 'argentum-bold';
    color: white;
}

#schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

#schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#schedule .schedule-item h4 span {
    font-style: italic;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}

#schedule .schedule-item p {
    font-style: italic;
    color: #fff;
    margin-bottom: 0;
}


/* Sports Event */

.latest-sports {
    margin-top: 100px;
    background: #000;
    padding: 4vw 0vw 0 0;
}

.latest-sports .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
}

.latest-sports .product-item {
    margin-bottom: 30px;
    border: 0px solid #eee;
}


/* Best Features */

.about-features {
    margin-top: 100px!important;
}

.about-features p {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.about-features .container .row {
    padding-bottom: 0px!important;
    border-bottom: none!important;
}

.best-features {
    margin-top: 50px;
}

.best-features .container .row {
    border-bottom: 1px solid #eee;
    padding-bottom: 60px;
}

.best-features img {
    width: 100%;
    overflow: hidden;
}

.best-features h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.best-features ul.featured-list li {
    display: block;
    margin-bottom: 10px;
}

.best-features p {
    margin-bottom: 25px;
}

.best-features ul.featured-list li a {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 300;
    transition: all .3s;
    position: relative;
    padding-left: 13px;
}

.best-features ul.featured-list li a:before {
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #4a4a4a;
    position: absolute;
    left: 0;
    transition: all .3s;
    top: 8px;
}

.best-features ul.featured-list li a:hover {
    color: #f33f3f;
}

.best-features ul.featured-list li a:hover::before {
    background-color: #f33f3f;
}

.best-features .filled-button {
    margin-top: 20px;
}


/* Call To Action */

.call-to-action .inner-content {
    margin-top: 60px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.call-to-action .inner-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 15px;
}

.call-to-action .inner-content em {
    font-style: normal;
    font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
    text-align: right;
}

.call-to-action .inner-content .filled-button {
    margin-top: 12px;
}


/* Footer */

footer {
    text-align: center;
}

footer .inner-content {
    border-top: 1px solid #eee;
    margin-top: 60px;
    padding: 60px 0px;
}

footer .inner-content p {
    text-transform: uppercase;
}

footer .inner-content p a {
    color: #f33f3f;
    margin-left: 3px;
}


/* Product Page */

.evnetlist {
    margin-top: 100px;
}

.evnetlist .filters {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.evnetlist .filters li {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}

.evnetlist .filters ul li.active,
.evnetlist .filters ul li:hover {
    color: #f33f3f;
}

.evnetlist ul.pages {
    margin-top: 30px;
    text-align: center;
}

.evnetlist ul.pages li {
    display: inline-block;
    margin: 0px 2px;
}

.evnetlist ul.pages li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
}

.evnetlist ul.pages li a:hover,
.evnetlist ul.pages li.active a {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}


/* Team Members */

.team-members {
    margin-top: 100px;
}

.team-member {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.team-member img {
    width: 100%;
    overflow: hidden;
}

.team-member .down-content {
    padding: 30px;
    text-align: center;
}

.team-member .thumb-container {
    position: relative;
}

.team-member .thumb-container .hover-effect {
    position: absolute;
    background-color: rgba(243, 63, 63, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.team-member .thumb-container .hover-effect .hover-content {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
    background-color: #fff;
    color: #f33f3f;
}

.team-member:hover .hover-effect {
    visibility: visible;
    opacity: 1;
}

.team-member .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 8px;
}

.team-member .down-content span {
    display: block;
    font-size: 13px;
    color: #f33f3f;
    font-weight: 500;
    margin-bottom: 20px;
}


/* Services */

.services {
    background-image: url(../images/services-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
}

.services .service-item {
    text-align: center;
}

.services .service-item .icon {
    background-color: #f7f7f7;
    padding: 40px;
}

.services .service-item .icon i {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 32px;
}

.services .service-item .down-content {
    background-color: #fff;
    padding: 40px 30px;
}

.services .service-item .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.services .service-item .down-content p {
    margin-bottom: 25px;
}


/* Clients */

.happy-clients {
    margin-top: 100px;
    margin-bottom: 40px;
}

.happy-clients .client-item img {
    max-width: 100%;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
}

.happy-clients .client-item img:hover {
    opacity: 0.8;
}


/* Find Us */

.find-us {
    margin-top: 100px;
}

.find-us p {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.find-us h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.find-us .left-content {
    margin-left: 30px;
}


/* Send Message */

.send-message {
    margin-top: 100px;
}

.contact-form input {
    font-size: 14px;
    width: 100%;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 30px;
}

.contact-form input:focus {
    box-shadow: none;
    border: 1px solid #eee;
}

.contact-form textarea {
    font-size: 14px;
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    height: 120px;
    max-height: 180px;
    border: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 30px;
}

.contact-form textarea:focus {
    box-shadow: none;
    border: 1px solid #eee;
}

.contact-form button.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact-form button.filled-button:hover {
    background-color: #121212;
    color: #fff;
}

.accordion {
    margin-left: 30px;
}

.accordion a {
    cursor: pointer;
    font-size: 17px;
    color: #1a6692!important;
    margin-bottom: 20px;
    transition: all .3s;
}

.accordion a:hover {
    color: #f33f3f!important;
}

.accordion a.active {
    color: #f33f3f!important;
}

.accordion li .content {
    display: none;
    margin-top: 10px;
}

.accordion li:first-child {
    border-top: 1px solid #eee;
}

.accordion li {
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}

* Profile container */ .profile {
    margin: 20px 0;
}


/* Profile sidebar */

.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 12px;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
    padding: 12px;
    display: block;
}


/* Profile Content */

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.dashboard-stat,
.portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}

.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}

.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase!important;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}

.margin-top-20 {
    margin-top: 20px!important;
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}


/* Responsive Style */

@media (max-width: 768px) {
    .banner .text-content {
        width: 90%;
        margin-left: 5%;
    }
    .banner .text-content h4 {
        font-size: 22px;
    }
    .banner .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
    }
    .banner-item-01,
    .banner-item-02,
    .banner-item-03 {
        padding: 180px 0px;
    }
    .page-heading .text-content h4 {
        font-size: 22px;
    }
    .page-heading .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
    }
    .latest-products .section-heading a {
        float: none;
        margin-top: 0px;
        display: block;
        margin-bottom: 20px;
    }
    .product-item .down-content h4 {
        margin-bottom: 20px!important;
    }
    .product-item .down-content h6 {
        position: absolute!important;
        top: 30px!important;
        right: 30px!important;
    }
    .product-item .down-content span {
        position: absolute!important;
        right: 30px!important;
        bottom: 30px!important;
    }
    .best-features .left-content {
        margin-bottom: 30px;
    }
    .call-to-action .inner-content {
        text-align: center;
    }
    .call-to-action .inner-content .filled-button {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .about-features img {
        margin-bottom: 30px;
    }
    .service-item {
        margin-bottom: 30px;
    }
    .find-us #map {
        margin-bottom: 30px;
    }
    .find-us .left-content {
        margin-left: 0px;
    }
    .send-message .accordion {
        margin-top: 30px;
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 32px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #000!important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #f33f3f!important;
        border-bottom: none!important;
        padding-bottom: 15px;
    }
    .product-item .down-content h4 {
        margin-bottom: 10px;
    }
    .product-item .down-content h6 {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 20px;
    }
    .product-item .down-content span {
        position: relative;
        right: 0;
        bottom: 0;
    }
}